.container.flyer
  .row
    .col-sm-12
      %img{src: "assets/img/djungel_aus_beton.jpg"}
.container.soundcloud
  .row
    .col-sm-12
      %iframe{frameborder: "no", height: "450", scrolling: "no", src: "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/148725831&auto_play=true&hide_related=false&visual=true", width: "100%"}
  .row
    .col-sm-12
      %iframe{frameborder: "no", height: "450", scrolling: "no", src: "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119644376&auto_play=false&hide_related=false&visual=true", width: "100%"}
.container.social
  .row
    .col-sm-12
      %a{href: "http://facebook.com/brunsmusic", target: "_blank"} facebook
